.background{
    width: 40%;
    margin-top: 10px;
}   




















/* https://5.imimg.com/data5/UR/VY/HN/SELLER-18400183/kilometer-stones-500x500.jpg
https://s01.sgp1.digitaloceanspaces.com/large/895133-iredhyvcxh-1537435093.jpg */