.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
    width: 100%;
    height: 20%;
}

.button {
    border-radius: 15px;
    background-color:forestgreen;
    border-width: 0px;
    margin-right: 100px;
}